.tracks-tab .md-header, .track-tab .md-tabs-content {
  z-index: 1;
}

.add-track-fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  z-index: 6;
}

.tracks-masonry-container {
  min-height: 800px;
}

.tracks-masonry-container, track-card {
  background: transparent;
  z-index: 5;
}

track-card.ng-enter {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;

  -webkit-transform: scale(0); /* Chrome, Safari, Opera */
  transform: scale(0); /* Chrome, Safari, Opera */
}

track-card.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.track-loading-progress.ng-enter {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;

  top: -10px;
}

.track-loading-progress.ng-enter-active {
  top: -5px;
}

.track-loading-progress.ng-leave {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.track-loading-progress.ng-leave-active {
  top: -10px;
}

.track-loading-progress {
  position: absolute;
  top: -5px;
  left: 0px;
  z-index: 7;
}

track-card>md-card {
  width: 300px;
  background: white;
}

#selected-track-container track-card>md-card {
  width: 350px;
}

track-card>md-card h2 {
  font-size: 32px;
  font-weight: 200;
  /*font-weight: 200;*/
  /*font-style: italic;*/
}

track-card>md-card h3 {
  color: grey;
  /*font-weight: 400;*/
}

track-card>md-card h3>span {
  font-weight: 300;
}

textarea.track-edit {
  border: none;
  background: none;
  line-height: 1.6;
  width: 100%;
}