md-content#track-cards, md-content#track-details {
  height: 100%;
  background: transparent;
}

.track-tile {
  background: rgba(240, 244, 195, .9);
  padding: 8px;
  -webkit-box-shadow: rgba(0,0,0,.5) 0px 0px 5px;
}

#track-cards md-card, #track-details md-card {
  position: relative;
}

#track-cards md-card-content {
  padding-right: 50px;
}

#track-cards md-card-content>md-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  /*border: 1px solid gray;*/
  border-radius: 100%;
  background: gray;
  padding: 6px;
  color: white;
  /*z-index: 2;*/
  opacity: .6;
}

.add-track-fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  z-index: 6;
}

.track-loading-progress {
  position: fixed;
  width: 100%;
  top: 54px;
  left: 0px;
  z-index: 7;
}

track-card>md-card {
  /*width: 300px;*/
  background: white;
}

track-card>md-card h2 {
  font-size: 32px;
  font-weight: 200;
  /*font-weight: 200;*/
  /*font-style: italic;*/
}

track-card>md-card h3 {
  color: grey;
  /*font-weight: 400;*/
}

track-card>md-card h3>span {
  font-weight: 300;
}

.track-title {
  margin-bottom: 0;
}

textarea.track-edit {
  border: none;
  background: none;
  line-height: 1.6;
  width: 100%;
}

textarea.track-edit.title {
  font-size: 32px;
}