md-content#track-cards, .tracks-tab, .md-tabs-content {
  height: 100%;
}

.tracks-tab .md-header, .md-tabs-content {
  z-index: 1;
}

.md-tabs-content md-grid-list {
  margin: 8px;
}

.track-tile {
  background: rgba(240, 244, 195, .9);
  padding: 8px;
  -webkit-box-shadow: rgba(0,0,0,.5) 0px 0px 5px;
}

.track-tile md-icon {
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 3px;
  right: 5px;
  /*border: 1px solid gray;*/
  border-radius: 100%;
  background: gray;
  padding: 5px;
  color: white;
  z-index: 2;
}

.track-tile md-grid-tile-footer>h3 {
  font-weight: 700;
}

.add-track-fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  z-index: 6;
}

.tracks-masonry-container {
  min-height: 800px;
}

.tracks-masonry-container, track-card {
  background: transparent;
  z-index: 5;
}

track-card.ng-enter {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;

  -webkit-transform: scale(0); /* Chrome, Safari, Opera */
  transform: scale(0); /* Chrome, Safari, Opera */
}

track-card.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.track-loading-progress.ng-enter {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;

  top: -10px;
}

.track-loading-progress.ng-enter-active {
  top: -5px;
}

.track-loading-progress.ng-leave {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.track-loading-progress.ng-leave-active {
  top: -10px;
}

.track-loading-progress {
  position: absolute;
  top: -5px;
  left: 0px;
  z-index: 7;
}

track-card>md-card {
  width: 300px;
  background: white;
}

#selected-track-container track-card>md-card {
  width: 350px;
}

track-card>md-card h2 {
  font-size: 32px;
  font-weight: 200;
  /*font-weight: 200;*/
  /*font-style: italic;*/
}

track-card>md-card h3 {
  color: grey;
  /*font-weight: 400;*/
}

track-card>md-card h3>span {
  font-weight: 300;
}

textarea.track-edit {
  border: none;
  background: none;
  line-height: 1.6;
  width: 100%;
}

textarea.track-edit.title {
  font-size: 32px;
}