<!-- <md-content id="track-cards"> -->
    <!-- <md-tabs class="tracks-tab md-primary md-hue-1" md-selected="selectedIndex" md-border-bottom>
        <md-tab ng-repeat="year in years()" label="{{year}}" layout="column"> -->
            <!-- <md-card ng-repeat="track in tracks() | filter:{year: selectedYear}" ng-click="select(track)"> -->
<!--     <md-card ng-repeat="track in tracks()" ng-click="select(track)">
        <md-card-content>
            <h1>{{track.title || "No Title"}}</h1>
            <p><strong>From:</strong> {{track.start}}</p>
            <p><strong>To:</strong> {{track.end}}</p>
            <md-icon md-svg-icon="maps:directions_walk"></md-icon>
        </md-card-content>
    </md-card> -->
<!-- </md-content> -->

<md-content id="track-cards">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Your tracks</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-list>
        <md-subheader class="md-primary">Most recent tracks</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="track in tracks()" ng-click="select(track)">
            <img src="images/icon-128.png" class="md-avatar" />
            <div class="md-list-item-text">
                <h3>{{track.title || "No Title"}}</h3>
                <h4>{{track.distance | number:2}} km</h4>
                <!-- <h4>From {{track.start}} to {{track.end}}</h4> -->
                <p>{{track.date | date}}</p>
            </div>
        </md-list-item>
    </md-list>
    <md-button class="md-fab md-primary add-track-fab" aria-label="Add Track" ng-click="openFileChooser()">
        <i class="icon ion-android-add"></i>
    </md-button>
    <md-progress-linear md-mode="indeterminate" class="track-loading-progress" ng-show="trackLoading"></md-progress-linear>
</md-content>